
* {
    --zeroColor3dMenu: #434750;
    --oneColor3dMenu: #3e3f46;
    --twoColor3dMenu: #999;
    --threeColor3dMenu: #fff;
    --fourColor3dMenu: #2e3133;
    --fiveColor3dMenu: #35383e;
    --sixColor3dMenu: #33aeee;
    --sevenColor3dMenu: #2982b9;
    --eightColor3dMenu: #1f5378;
}
div.container3dMenu * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
div.container3dMenu {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--zeroColor3dMenu);
}
ul.menu3D {
    position: relative;
    transform: skewY(-15deg);
}
ul.menu3D li {
    position: relative;
    list-style: none;
    width: 200px;
    background: var(--oneColor3dMenu);
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
}
/* Левая плоскость элементов списка */
ul.menu3D li:before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: var(--fourColor3dMenu);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}
/* Верхняя плоскость элементов списка */
ul.menu3D li:after {
    content: "";
    position: absolute;
    top: -40px;
    left: 0px;
    width: 100%;
    height: 40px;
    background: var(--fiveColor3dMenu);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}
ul.menu3D li:hover {
    background: var(--sixColor3dMenu);
    transform: translateX(-50px);
}
ul.menu3D li:hover::before {
    background: var(--eightColor3dMenu);
}
ul.menu3D li:hover::after {
    background: var(--sixColor3dMenu);
}
ul.menu3D li a {
    text-decoration: none;
    color: var(--twoColor3dMenu);
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
ul.menu3D li:hover a {
    color: var(--threeColor3dMenu);
}
ul.menu3D li:last-child::after {
    box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}