* {
    --zeroColorShadowSlider: #2169f3;
}
.containerShadowSlider {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--zeroColorShadowSlider);
}
.shadowSlider {
    position: relative;
    display: flex;
}
.shadowSlider > div {
    width: 50px;
    height: 300px;
    margin: 0 20px;
    background: var(--zeroColorShadowSlider);
    animation: showShadowSliderElement 2.2s linear infinite;
}
.shadowSlider > div:nth-child(1) {
    animation-delay: 0s;
}
.shadowSlider > div:nth-child(1) {
    animation-delay: 0.2s;
}
.shadowSlider > div:nth-child(2) {
    animation-delay: 0.4s;
}
.shadowSlider > div:nth-child(3) {
    animation-delay: 0.6s;
}
.shadowSlider > div:nth-child(4) {
    animation-delay: 0.8s;
}
.shadowSlider > div:nth-child(5) {
    animation-delay: 1s;
}
.shadowSlider > div:nth-child(6) {
    animation-delay: 1.2s;
}
.shadowSlider > div:nth-child(7) {
    animation-delay: 1.4s;
}
.shadowSlider > div:nth-child(8) {
    animation-delay: 1.6s;
}
.shadowSlider > div:nth-child(9) {
    animation-delay: 1.8s;
}
.shadowSlider > div:nth-child(10) {
    animation-delay: 2s;
}
@keyframes showShadowSliderElement {
    0% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }
    50% {
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        opacity: 1;
        transform: translateX(0px) scale(1.2);
    }
    100% {
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateX(50px) scale(1);
    }
}